<!-- About Section -->
<section class="success" id="cv">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Curriculum Vitae</h2>
        <hr class="elegant-divider" />
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>
          Hey there! I'm currently studying Computer Science and Communications
          Engineering at Waseda University, aiming to finish by 2026. It's been
          quite a journey since school in four different countries! Recently,
          I'm pretty active in our Google Developers Student Club, where I use
          the skills I learned into practice.
        </p>
      </div>
      <div class="col-lg-4">
        <p>
          On the job side of things, I've been busy with some awesome projects
          and internships. Like at RAK Investment, I dove into data analysis,
          which was all about uncovering neat insights from big data for the
          world's largest limestone quarry. During university, our team landed
          in the in the Global Top 100 for the Google Solutions Challenge, by
          creating an iOS app for sorting garbage.
        </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a
          href="https://github.com/jeromelachaud/freelancer-theme"
          class="btn btn-lg btn-outline"
        >
          <i class="fa fa-download"></i> Download My CV
        </a>
      </div>
    </div>
  </div>
</section>
